.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alt-button {
  background-color: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.15);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  text-shadow: 2px 2px 4px #282c34;
}

.alt-button:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
  border: 2px solid rgba(255, 255, 255, 0);
}

.alt-button:active {
  transform: translateY(4px);
}

.main-button {
  background-color: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.15);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  text-shadow: 2px 2px 4px #282c34;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px !important;
}

.main-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
  transform: scale(0);
  border-radius: 40px;
}

.main-button:hover:after {
  transform: scale(1);
}

.main-button:active {
  transform: translateY(4px);
}

.text-shadow {
  text-shadow: 2px 2px 4px #282c34;
}

.SearchContainer {
  display: flex;
  align-items: center;
}

.SearchContainer input {
  padding-right: 2.5rem;
  transition: background-color 0.5s, color 0.3s, width 0.15s ease-in-out;
  border: none;
  width: 0px;
}

.SearchContainer input:focus {
  background-color: rgba(255, 255, 255, 0.15) !important;
  box-shadow: none !important;
  outline: none !important;
  width: 250px;
}

.searchbar {
  transition: background-color 0.5s, color 0.3s, width 0.15s ease-in-out;
}

.searchbar:focus {
  background-color: rgba(255, 255, 255, 0.15) !important;
  box-shadow: none !important;
  outline: none !important;
}